<!DOCTYPE html>
<html lang="en">
<head>
   {{>header}}
</head>
<body>
    {{>navbar}}
    <section id="about-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="about-text border-right">
                        <h1>Megna tempus sed amet aliquram verperoes</h1>
                        <p class="">It is a long established factor that a reader will
                            content of a page when looling at first</p>
                            <button class="btn btn-primary">More</button>
                    </div>
                    </div>
                    <div class="col md-4">
                        <div class="about-text border-right">
                            <h1>Megna tempus sed amet aliquram verperoes</h1>
                        <p class="">It is a long established factor that a reader will
                            content of a page when looling at first</p>
                            <button class="btn btn-primary">More</button>
                        </div>
                    </div>
                    <div class="col md-4">
                        <div class="about-text">
                            <h1>Megna tempus sed amet aliquram verperoes</h1>
                        <p class="">It is a long established factor that a reader will
                            content of a page when looling at first</p>
                            <button class="btn btn-primary">More</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section id="team-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="team-top-header text-center">
                        <h1>Team Member</h1>
                        <p>Megna tempus sed amet</p>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="team-member-id text-center border">
                                <img class="img-fluid rounded-circle"
                                src="https://cdn.savou.mordicm" alt="" />
                                <h1>Marma</h1>
                                <p>co-founder</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="team-member-id text-center border">
                                <img class="img-fluid rounded-circle"
                                src="https://cdn.savou.mordicm" alt="" />
                                <h1>Marma</h1>
                                <p>co-founder</p>
                            </div>
                        </div>
                         <div class="col-md-3">
                            <div class="team-member-id text-center border">
                                <img class="img-fluid rounded-circle"
                                src="https://cdn.savou.mordicm" alt="" />
                                <h1>Marma</h1>
                                <p>co-founder</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="team-member-id text-center border">
                                <img class="img-fluid rounded-circle"
                                src="https://cdn.savou.mordicm" alt="" />
                                <h1>Marma</h1>
                                <p>co-founder</p>
                            </div>
                        </div>
                        

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="recent-section">
        <div class="container">
            <div class="row">
                
            </div>
        </div>
    </section>
</body>
</html>